In [8]:
# Output
print("Hello World!")

# Variable and init with 10
a = 10
print(a)

# Execute any cell - Shift + Enter

Hello World!
10

In [5]:
print(type(a))

<class 'int'>

In [10]:
a ="Some sentence"
print(type(a))

<class 'str'>

In [11]:
print(type(a))

<class 'str'>

In [15]:
a = 10
b = 20.5
print("a + b =",a+b)

a + b = 30.5

In [17]:
print(type(b))

<class 'float'>

In [22]:
# Multiline String
ch = """this is 
a paragraph."""
print(type(ch))
print(ch)

<class 'str'>
this is
a paragraph.

In [25]:
rainy = True

In [29]:
# Conditional 
if rainy:
    print("Don't go out")
else:
    print("Lets go for boating!")
    print("Inside the  else block")
    
print("Outside the else block")

Lets go for boating!
Inside the  else block
Outside the else block

In [32]:
# Input in Python
name = input("Enter your Name:")
print("Hi ",name)

Enter your Name:Prateek
Hi  Prateek

In [37]:
# Typecasting to Int 
n = int(input())
print(n+1)
print(type(n))

50
51
<class 'int'>

In [38]:
a = int(input())
b = int(input())
print(a,b)

10
20
10 20

In [48]:
numbers = input()
print(numbers.split())
print(type(numbers))

"10 20 30 40 50"

10 20 30 40
['10', '20', '30', '40']
<class 'str'>

'10 20 30 40 50'

In [41]:
print(len(numbers))

14

In [43]:
weather = "It may rain today."
l = weather.split()
print(weather)
print(l)

It may rain today.
['It', 'may', 'rain', 'today.']

In [54]:
# How to iterate over a list using a While Loop
n = len(l)
i = 0
while i<n:
    print(l[i])
    i = i + 1

It
may
rain
today.

In [57]:
# For Loop range(s,e+1,jump)
for i in range(1,6,2):
    print(i)

1
3
5

In [59]:
# 10 ...0 even numbers 
for i in range(10,-1,-2):
    print(i,end=',')

10,8,6,4,2,0,

In [3]:
# lists
l = [1,2,3,4.5,"Hello",[10,20,30]]
print(l)
print(type(l))

[1, 2, 3, 4.5, 'Hello', [10, 20, 30]]
<class 'list'>

In [4]:
print(l[-1])
print(l[0])
print(len(l))

[10, 20, 30]
1
6

In [5]:
l.append("Dog")
print(l)

[1, 2, 3, 4.5, 'Hello', [10, 20, 30], 'Dog']

In [72]:
idx = l.index("Hello")
print(idx)

4

In [73]:
l.insert(idx,"Cat")
print(l)

[1, 2, 3, 4.5, 'Cat', 'Hello', [10, 20, 30], 'Dog']

### Install Libraries in the meanwhile
(Execute via command prompt)

```pip install numpy``` 

```pip install opencv-python```

```pip install matplotlib```

```pip install pandas```

In [79]:
# List of Squares of Numbers
n = 5
l = []
for i in range(1,n+1):
    l.append(i**2)
print(l)

[1, 4, 9, 16, 25]

In [81]:
# List Comprehension
l = [i*i for i in range(1,n+1)]
print(l)

[1, 4, 9, 16, 25]

In [2]:
l = [int(i) for i in input().split()]
print(l)

10 20 30 40
[10, 20, 30, 40]

In [15]:
a = [1,2,3]
b = [4,5,6]

print(a+b)
a.append(b)
print(a)
print(a[0:3])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, [4, 5, 6]]
[1, 2, 3]

In [23]:
# Strings
food = "bread and butter"

food[0] # Indexing
food = food[ : :-1] #Slicing
print(food)

rettub dna daerb

In [44]:
print("Hello" + str(5))
s = "hello_"*5 # String Concatenation
print(s)
print(s.replace("_","+"))

Hello5
hello_hello_hello_hello_hello_
hello+hello+hello+hello+hello+

In [62]:
# Sentence Processing
s = "I am, looking, for, food!"
s = s.replace(",","")
l  = s.split(" ")
#print(l)
q = "+".join(l)
print(q)

I+am+looking+for+food!

In [33]:
# Tuples
l = [1,2,3,4,5]
t = (1,2,3,2,4,5)
print(type(t))
print(type(l))

<class 'tuple'>
<class 'list'>

In [34]:
t.count(2)

2

In [79]:
# Dictionaries 
# Map Keys to Values
d = {
    "dosa":{"plain":60,"masala":80},
    "poha":[10,20],
    "maggi":25,
    "juice":30
}

In [93]:
d["coeffe"] = 100
print(d)

{'dosa': {'plain': 60, 'masala': 80}, 'poha': [10, 20], 'maggi': 25, 'juice': 30, 'coeffe': 100}

In [80]:
d["dosa"]["masala"]

80

In [82]:
if d.get('tea') is None:
    print("tea is not avbl")
else:
    print(d['tea'])

tea is not avbl

In [83]:
list(d.keys())

['dosa', 'poha', 'maggi', 'juice']

In [84]:
list(d.values())

[{'plain': 60, 'masala': 80}, [10, 20], 25, 30]

In [86]:
for k,v in d.items():
    print(k,v)

dosa {'plain': 60, 'masala': 80}
poha [10, 20]
maggi 25
juice 30

In [87]:
countries = ["India","US","China","SriLanka"]
capitals = ["Delhi","WashingtonDC","Beijing","Colombo"]

In [91]:
country_captial_map = dict(zip(countries,capitals))

In [92]:
print(country_captial_map)

{'India': 'Delhi', 'US': 'WashingtonDC', 'China': 'Beijing', 'SriLanka': 'Colombo'}

In [96]:
cc_map = {}

for k,v in country_captial_map.items():
    cc_map[v] = k

In [98]:
cc_map['Delhi']

'India'

In [106]:
# Functions
def fun(n):  
    for i in range(n):
        print("Walking step ",i)

In [107]:
fun(5)

Walking step  0
Walking step  1
Walking step  2
Walking step  3
Walking step  4

In [ ]:
# Questions for You!
1. Print a Star Pattern for given n
n = 3
# Pattern-1
*
**
***

#Pattern-2
n = 3
  *
 ***
*****

In [109]:
def star_1(n):
    for i in range(1,n+1):
        print("*"*i)

star_1(4)

*
**
***
****

In [111]:
def star_pyramid(n):
    for i in range(1,n+1):
        #Spaces and stars
        print((n-i)*" ","*"*(2*i-1))

star_pyramid(5)

     *
    ***
   *****
  *******
 *********